.navbar-nav{
	
	background-color: #112D46;
	text-align: left;
}
.navbar-brand{
	padding:0px;
	padding-left:10px;
	text-align: left;
	left: 0px;
}
.navbar{
	padding: 0px;
	background-color: #112D46;
	height: 60px;
}
li .btn
{
	margin-top:8px;
	margin-right:3px;
}
.panel{
	text-align:center;
}

body{
	text-align:center;
	background-color:#E3E3E3;
}
.logo{
	left:5px;
	top: 5px;
}

.container{
	margin-top: 50px;
	padding: 0px;
	text-align:center;
}
